.article {
  position: relative;
  //padding-top: var(--header-height);

  &.noBottom {
    padding-bottom: 0;
  }

  a:hover {
    color: var(--beige-dark) !important;
  }

  figure {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    &.mainImage {
      padding-bottom: var(--space);
      cursor: pointer;
    }

    &.small {
      padding-left: calc(2 * var(--grid-unit));
      padding-right: calc(2 * var(--grid-unit));
    }

    &.medium {}

    &.large {}

    &.portrait {
      padding-left: calc(3 * var(--grid-unit));
      padding-right: calc(3 * var(--grid-unit));

      @include mq($from: tablet) {
        padding-left: calc(2 * var(--grid-unit));
        padding-right: calc(2 * var(--grid-unit));
      }
    }
  }

  .meta {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .date {
    font-family: $headline-font;
    border: 1px solid var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: var(--outer-margin);
    margin-top: calc(var(--space) * -1);
    width: calc(var(--grid-unit) - var(--gutter));

    @include mq($until: tablet) {
      display: none;
    }

    span {
      display: block;

      &:first-of-type {
        text-transform: uppercase;
        padding-bottom: 0.4em;
      }

      &:last-of-type {
        font-size: 2.1rem;
        padding-bottom: 0.4em;
      }
    }

    &.mobile {

      display: flex;
      float: right;
      margin-left: var(--outer-margin);
      margin-top: 0;
      width: 14vw;

      @include mq($from: tablet) {
        display: none;
      }
    }
  }

  .intro {

    p {
      padding: 0;
    }
  }


  .partners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 0;

    .logo {
      display: flex;
      align-items: center;
      //flex: 0 0 25%;
      width: auto;
      margin-right: 1rem;

      img {
        max-height: 3rem;
        object-fit: contain;
      }
    }
  }
}