.article {
  position: relative;
  padding-top: var(--header-height);

  &.noBottom {
    padding-bottom: 0;
  }

  a:hover {
    color: var(--beige-dark) !important;
  }

  .mainImage {
    padding-bottom: var(--space);
  }
}
