.content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 1;
  flex-basis: 80%;
  transition: flex-basis 0.3s ease-in-out;
  border-right: 1px solid var(--black);

  &.full {
    flex-basis: 100%;
    border-right: 0px;
  }

  article {
    padding-bottom: var(--space);
    margin: 0;

    @include mq($from: tablet) {
      margin-left: calc(var(--total-outer-margin));
      margin-right: calc(var(--total-outer-margin));
    }

    @include mq($until: tablet) {
      padding-top: var(--navbar-height);
    }
  }

  &.noMargins {
    article {
      margin: 0;
      padding-left: 0;
      padding-right: 0;

      @include mq($from: tablet) {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &.noBottom {
    article {
      padding-bottom: 0;
    }
  }
}