.container {
  position: fixed;
  max-width: 0;
  left: var(--outer-margin);
  @include mq($until: tablet) {
    top: var(--outer-margin);
  }
  @include mq($from: tablet) {
    bottom: var(--outer-margin);
  }

  svg,
  g,
  path {
    fill: inherit;
  }
}
