.container {
	padding: var(--outer-margin);
	.node {
		cursor: pointer;
		line-height: 1.4;
		overflow: visible;
		&[data-open='true'] {
			margin-left: 0.625em;
		}
		&:hover:not(.search) {
			&::before {
				content: '°  ';
				position: relative;
				top: 0.2em;
				margin-left: -0.625em;
			}
		}
	}
}
