.container {
  position: relative;

  @include mq($until: tablet) {
    margin-left: calc(-1 * var(--outer-margin));
    margin-right: calc(-1 * var(--outer-margin));
  }

  margin-bottom: calc(-1 * var(--space));

  img {
    max-width: 100%;
  }

  h2 {
    position: absolute;
    top: 0;
    left: 0;

  }

  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    color: var(--white);
  }
}