.meta {
  margin-top: var(--space);
  width: var(--body-width);
  margin-left: var(--grid-unit);
  padding-top: var(--space);
  border-top: 1px solid var(--black);

  > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
      flex: 1 0 25%;
    }
  }
}
