.menu {
  border-left: 1px solid var(--black);
  padding: var(--outer-margin);
  flex: 0 0 20%;

  .wrapper {
    position: fixed;
  }

  span {
    display: block;
    padding-bottom: var(--header-height);
  }

  .active {
    &::before {
      content: "°  ";
      position: relative;
      top: 0.2em;
      margin-left: -0.65em;
    }

    >a {}
  }

  ul {
    list-style: none;
    font-weight: bold;
    margin-right: var(--outer-margin);

    >li {
      cursor: pointer;
      padding-bottom: 0.5em;

      >ul.sub {
        display: block;
        font-weight: normal;
        margin-left: 0.5rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;

        &.selected {
          max-height: 1000px;
          overflow: visible;
        }

        li {
          &:first-of-type {
            padding-top: 0.5em;
          }
        }
      }
    }
  }
}