.menu {
  border-left: 1px solid var(--black);
  padding: var(--outer-margin);
  flex: 0 0 20%;

  .wrapper {
    position: fixed;
  }

  span {
    display: block;
    padding-bottom: var(--header-height);
  }

  ul {
    list-style: none;
    font-weight: bold;
    margin-right: var(--outer-margin);

    > li {
      cursor: pointer;
      padding-bottom: 0.5em;

      > ul.sub {
        display: none;
        font-weight: normal;
        margin-left: 0.5rem;

        &.selected {
          display: block;
        }

        li {
          &:first-of-type {
            padding-top: 0.5em;
          }
        }
      }
    }
  }
}
