.menu {
  flex: 0 0 20%;


  ul {
    list-style: none;

    >li {
      cursor: pointer;

      >ul.sub {
        display: none;
        margin-left: 0.5rem;

        &.selected {
          display: block;
        }

        li {}
      }

    }
  }
}