.container {
  position: relative;
  margin-bottom: calc(-1 * var(--space));
  margin-left: calc(-1 * calc(var(--outer-margin)));
  margin-right: calc(-1 * calc(var(--outer-margin)));

  &.full {
    @include mq($from: tablet) {
      margin-left: calc(-1 * calc(var(--outer-margin) - var(--full-margin)));
      margin-right: calc(-1 * calc(var(--outer-margin) - var(--full-margin)));
    }
  }

  .image {
    width: 100%;
    min-width: 100%;
    height: 100vh;
    max-height: 100vh;
  }

  figcaption {
    position: absolute;
    color: var(--white);
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
